html {
  height: 100%;
  width: 100%;
  background-image: url('../images/img_background@2x.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center bottom;
  -webkit-background-size: auto 100%;
  -moz-background-size: auto 100%;
  -ms-background-size: auto 100%;
  -o-background-size: auto 100%;
  background-size: auto 100%;
}
 
body {
	height: 100%;
  font-family: QuickSand;
  color: #FFFFFF;
  margin: 0 auto;
  background-color:transparent;
}

.container {
  text-align: center;
}

@font-face {
  font-family: QuickSand;
  src: url('../fonts/quicksand/Quicksand-Regular.otf');
}

.navbar-brand {
	font-size: 1.2em;
}

.glyphicon-arrow-left {
	color: #9D9D9D;
}

.jumbotron {
	text-align: center;
	color: #9D9D9D;
	background-color: #FFF;
  margin: 0 auto;
	margin-top: 10%;
	width: 60%;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

/* for bigger screens, make the profile jumbotron smaller */
@media (min-width: 768px) {
  .jumbotron {
    width: 40%;
  }
}

/* Warning messages related to dashboard sign in*/
/*
.msg-alert ul {
  display: block;
  margin: 0 auto;
  width: 100%;
  list-style-type: none;
  color: #FFFFFF;
  background-color: #E57873;
  border-color: #EBCCD1;
  padding: 15px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
*/

#fixed-wrapper {
	width: 75%;
	position: fixed;
	/* Center the element using margin-left = 1/2 of width: 75%  = 75/2 = 37.5 */
	margin-left: -37.5%;
	bottom: 56px;
	z-index: 1;
}

.img-responsive.img-compose {
	display: block;
	margin: 0 auto;
	width: 60px;
}

.modal-header, .modal-custom-footer {
  border-style: none;
}

.modal-dialog {
  max-width: 260px;
  margin: 0 auto;
  margin-top: 300px;
}

.modal-content {
  max-width: 400px;
  margin: 0 auto;
  height: 200px;
  margin-bottom: 8px;
}

/* Custom created footer which wouldn't be defined in bootstrap */
.modal-custom-footer {
  margin-top: 12px;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative; 
}

/* Using just background color instead of a custom button background */
.post-button, .post-button:hover, .post-button:focus, .post-button:active, .post-button:visited, .post-button:active:focus {
  width: 100%;
  margin-top: 10px;
  background-size: 100% 100%;
  background-color: #A18DFF;
  border: none;
  border-color: #A18DFF;
  margin-bottom: 6px;
  outline: 0;
  font-size: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin: 0 auto;
}

/* Removes all styling for text area */
#message-text {
  resize: none;
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  height: 140px
}

.user-msg {
  background-color: #FFFFFF;
  width: 80%;
  max-width: 480px;
  padding: 12px;
  margin: 0 auto;
  margin-bottom: 22px;
  text-align: left;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  overflow: hidden;
}

.header-msg {
  color: #000000;
}

.body-msg {
  padding-top: 32px;
  color: #9D9D9D;
}

#profile {
  margin: 0 auto;
}

/* Profile page avatar image */
#profile img {
  width: 88px;
  height: 88px;
  margin-top: 12px;
  border-radius: 50%;
}

/* Dashboard chat page avatar image */
.user-avatar img {
  width: 66px;
  height: 66px;
  margin-top: 12px;
  border-radius: 50%;
  margin-left: 3px;
}

.additional-info {
  border-top-style: groove;
  border-width: 1px;
  margin-top: 22px;
}

.user-email, .user-timestamp {
  color: #000000;
  padding-top: 12px;
  color: #A18DFF;
}

.user-email {
  text-align: left;
}

.user-timestamp {
  font-size: 0.9em;
  text-align: right;
}

.description-text {
  font-size: 0.9em;
}
